*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, Sans-Serif;
}

body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;

}

/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: none;
}

.navbar-toggle {
	width: auto;
	position: absolute;
	right: 0px;
	border: none;
}

#nav-list > li {
	text-align: center;
}

.navbar-brand {
	padding-top: 25px;
	height: 75px;
}

.navbar-brand a { /** RESTAURANT NAME **/
	font-family: sans-serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

navbar-toggle {
	float: right;
	width: auto;

}

div section {
	margin: 10px;
	padding: 10px;
}

h2 {
	margin-bottom: 20px;
}

#section1 {
	background-color: dimgrey;
	border: 1px solid black;
}
#section2 {
	background-color: dimgrey;
	border: 1px solid black;
}
#section3 {
	background-color: dimgrey;
	border: 1px solid black;
}

#container {
	position: relative;
